PG_HOST=localhost
PG_PORT=5432
PG_USER=jadmin
PG_PASSWORD=juice123
PG_DATABASE=juicedb
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET=datalake
MINIO_REGION=us-east-1
